*{
  padding: 0%;
  margin: 0%;
}
ul{
  list-style: none;
}
#header {
    font-family: 'Arvo', serif;
    padding: 20px;
    text-align: left;
    background: #202040;
    color: white;
    font-size: 20px;
  }
  .mainView{
    display: flex;
  }

  .section{
    color: white;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    width: 25%;
    height: 100vh;
  }
  #bees{
    background-color: #202060;
  }
  #post{
    background-color: #602080;
  }
  #album{
    background-color: #b030b0;
  }
  #todo{
    background-color: #202060;
  }

@media (min-width: 1025px) and (max-width: 1280px) {
  .section{
    width: 33%;
  }
  
  #todo{
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .section{
    width: 50%;
  }
  
  #todo{
    display: none;
  }
  #album{
    display: none;
  }

}
@media (min-width: 100px) and (max-width: 767px) {
  .section{
    width: 100%;
  }
  
  #todo{
    display: none;
  }
  #album{
    display: none;
  }
  #post{
    display: none;
  }

}



@import url('https://fonts.googleapis.com/css?family=Abel');

html, body {
  background: #FCEEB5;
  font-family: Abel, Arial, Verdana, sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
}

.card {
  display: flex;
  width: 95%;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 10px 10px;
}

.card-info{
  color: black;
}
.card-text{
  margin-left: 5px;
  margin-bottom: 5px;
}
.info-post ul li{
  display: inline;
  text-align: end;
  font-size: 12px;
}

.avatar{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
