<div class="card-post">
    <h2 class="post-title">sunt aut facere repellat provident occaecati excepturi optio reprehenderit</h2>
    <p class="post-body">quia et suscipit↵suscipit recusandae consequuntur …strum rerum est autem sunt rem eveniet architecto</p>
    <p class="comments-num">Comment: 23</p>
    <div class="card-comments-post">
            <p class="comment-name">id labore ex et quam laborum</p>
            <p class="comment-body">laudantium enim quasi est quidem magnam voluptate …utem quasi↵reiciendis et nam sapiente accusantium</p>
            <p class="comment-email">Eliseo@gardner.biz</p>
    </div>
    <a class="button4 buttonComments">New Comment</a>
</div>