@import url('https://fonts.googleapis.com/css?family=Abel');
*{
  padding: 0%;
  margin: 0%;
}

html, body {
  background: #FCEEB5;
  font-family: Abel, Arial, Verdana, sans-serif;
}
ul{
  list-style: none;
}

input, label {
  display:block;
}
label{
  margin-left: 15px;
  color: #202040;
  font-size: 20px;
}

#todos{
  height: 100%;
}

#header {
    display: flex;
    font-family: 'Arvo', serif;
    padding: 20px;
    text-align: left;
    background: #202040;
    color: white;
    font-size: 20px;
  }
  #header-title{
    margin-left: 15px;
  }

  .none{
    display: none !important;
  }

  .on{
    display: block !important;
  }
  .off{
    display: none !important;
  }

  .mainView{
    display: flex;
  }

  .section{
    position: relative;
    background-color: #202060;
    color: white;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    width: 25%;
    height: 100vh;
    overflow: auto;
    
  }
  .card-seaction{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
  }

 
.title{
  margin-bottom: 20%;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .section{
    width: 50%;
  }
  
  #todo{
    display: none;
  }

  #album{
    display: none;
  }

  .none{
    display: flex !important;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .section{
    width: 50%;
  }

  .none{
    display: flex !important;
  }
  
  #todo{
    display: none;
  }
  #album{
    display: none;
  }

}
@media (min-width: 100px) and (max-width: 767px) {
  .section{
    width: 100%;
  }

  .none{
    display: flex !important;
  }
  
  #todo{
    display: none;
  }
  #album{
    display: none;
  }
  #post{
    display: none;
  }

}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
}

.card {
  width: 75%;
  height: 100%;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  overflow: hidden;
  margin: 0px 10px 10px 10px;
}

.card-info{
  width: 100%;
  height: 100%;
  color: black;
}
.card-text{
  color: black;
  margin-top: 5%;
  margin-left: 5px;
  margin-bottom: 5px;
}
.card-info ul li{
  display: inline;
  text-align: end;
  font-size: 12px;
}
.btn-seaction{
  background-color: white;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-seaction button{

  margin-left: 10px;
}


.avatar{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 75%;
  height: 261px;
  object-fit: cover;
}




.section::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color:#202060;
}

.section::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}



.section::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: white;
}


a.button4{
  cursor: pointer;
  background-color:#202060;
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
}
a.button4:hover{
  border-color: rgba(255,255,255,1);
}

@media all and (max-width:30em){
 a.button4{
  display:block;
  margin:0.2em auto;
  }
}

/* Album seaction */

.album-card{
  margin-bottom: 20px;
  width: 100%;
}

.thumbnail{
  width:80%;
  display:block;
  margin:auto;
  padding-bottom: 10px;
}
.card-photo-title{
  text-align: center;
  margin-left: 0px;
}

.card-photo{
    width: 80%;
    height: 100%;
    background-color: white;
    display: block;
    margin: auto;
    border-radius: 10px;
}

/* todos seaction */

.card-todos{
  margin: auto;
  width: 90%;
  height: 10%;
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
}

.todo-title{
  width: 50%;
  font-size: 19px;
}

.todo-complision{
  border-radius: 10px;
  color: white;
  background-color: green;
  padding: 2%;
  width: 34%;
  text-align: center;
}

.false{
  background-color: red;
}

a.buttonTodo:hover{
  border-color: rgb(0, 0, 0);
}

a.buttonTodo{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin:0px  20px;
  background-color:white;
  color: #202040;
  margin-bottom: 10px;
}

/* post and comments */
.card-post{
  padding-bottom:10px ;
  border-radius: 5px;
  width: 90%;
  background-color: white;
  display:block;
  margin:auto;
  color: black;
  margin-bottom: 10px;
}
.post-title{
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.post-body{
  margin-left: 10px;
  width: 80%;
  font-size: 17px;
  margin-bottom: 10px;
}

.comments-num{
  font-size: 13px;
  margin-left: 15px;
  margin-bottom: 10px;
}


.card-comments-post{
  width: 90%;
  margin-left: 15px;
  border: 1px solid black;
  margin-bottom: 20px;
  border-radius: 10px;
}


.comment-name{
  margin-left: 10px;
  text-align: center;
}

.comment-body{
  margin-left: 10px;
  text-align: left;
  font-size: 14px;
}
.comment-email{
  margin-top: 10px;
  margin-right: 10px;
  text-align: right;
  font-size: 14px;
}
a.buttonComments:hover{
  border-color: white
}

a.buttonComments{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin:0px  20px;
  background-color: #202060;
  color: white;
}


a.buttonPost:hover{
  border-color: rgb(0, 0, 0);
}

a.buttonPost{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin:0px  20px;
  background-color:white;
  color: #202040;
  margin-bottom: 10px;
}


/* new post - cooments - todos */
.new{
  top: 40%;
  left:50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #F5F5F5;
  width: 95%;
  height: 55%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
.new-header{
  width: 100%;
  height: 20%;
  background-color: #202040;
}
.new-header-title{
  padding-top: 15px;
  text-align: center;
}
.newPost{
  position: absolute;
  top: 50%;
  left:60%;
  padding-top: 50px;
  width: 100%;
  transform: translate(-50%, -50%);
}
.newTitle{
   width: 80%;
   height: 35px;
   border-radius: 50px;
   margin-bottom: 15px;
}
.newBody{
  resize: none;
  width: 80%;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.buttonAccept , .buttonNo , .finshed{
  width: 40%;
  display: inline-block !important;
}

.finshed{
  margin-bottom: 20px !important;
}

.clicked{
  background-color: green !important;
}






